* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 778px) {

    .header {
        display: flex;
        background-color: rgb(245, 157, 147);
        height: 20px;
        align-content: center;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: flex-end;        
    }
    
    .header a {
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        color: rgb(230, 3, 3);
    }
    
    .main {
        background-image: url('./pictures/background.png');
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
    }
    
    .motto {
        text-align: center;
        margin: 0 5%;
    }
    
    .experiment { 
        margin: 2% 2%;    
    }
    
    p {
        line-height: 1.5;
        color: black;
        font-size: 10px;
    }
    
    .h1 {
        font-size: 125%;
    }

    .h4{
        font-size: 50%;
    }

    .h1, .h4 { 
        font-style: italic;
        text-align: center;   
        color: rgb(224, 37, 74);
        font-family: 'Merriweather', serif;
    }
    

    /*ALBUMUL AICI EDITEZ*/
    
    .bcp {
        background-image: url(./pictures/background.png);
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
    }

    .album-head {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .album-head p { 
        line-height: 1.5;
        color: black;
        font-size: 75%;
        font-family: "Comic Sans MS", cursive, sans-serif;
        position: relative;
        color: purple;
    }
    
    .photo-section {
        background-color: pink;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        justify-content: center;
    }
      
    .column {
        max-width: 90%;
        margin: 0 5%; 
    }
      
    .column img {
        border: 1px black solid;
        margin: 5% 0;
        vertical-align: middle;
        width: 100%;
    }

    .footer-album {
        display: flex;
        justify-content: flex-end;
        background-color: pink;
        width: 100%;
    }

      /*MAINUL AICI EDITEZ*/

    .main-header {
        background-image: url(./pictures/background.png);
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
        padding: 4% 0;
        width: 100%;
    }
    
    .main-text {
        border: 3px dotted rgb(163, 52, 163);
        padding: 5% 2%;
        margin: 0 1%;
        background-color: rgb(247, 199, 207);
    }
    
    .main-text p {
        font-family: 'Dancing Script', cursive;
        font-size: 15px;
    }

}



@media (min-width: 779px) {

.header {
    display: flex;
    background-color: rgb(245, 157, 147);
    height: 30px;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-end;   
}

.header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(230, 3, 3);
}

.main {
    background-image: url('./pictures/background.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.motto {
    text-align: right;
    margin: 0 5%;
}

.experiment { 
    margin: 2% 5%;    
}

p {
    line-height: 1.5;
    color: black;
    font-size: 16px;
}

.h1 {
    font-size: 250%;
}

.h4 {
    font-size: 125%;
}
.h1, .h4 {
    text-align: center;   
    color: rgb(224, 37, 74);
    font-family: cursive;
}


.bcp {
    background-image: url(./pictures/background.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    
}
.album-head {
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.album-head p {
    line-height: 1.5;
    color: black;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    color: purple;
}

.photo-section {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {   
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .main-text {
      border: 5px dotted rgb(163, 52, 163);
      padding: 5%;
      margin: 5%;
      background-color: rgb(247, 199, 207);
  }

  .main-text p {
      font-family: 'Dancing Script', cursive;
      font-size: 22px;
  }

  .main-header {
      margin-top: 5%;
  }

}